<nav class="navbar navbar-expand-lg bg-body-tertiary dark">
  <div class="container-fluid">
    <a class="navbar-brand me-auto old-navbar-brand" href="#">_Surveys</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/fill-form" href="/fill-form">Fill Out Survey</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/view-survey" href="/view-survey">View Survey Results</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
